:root {
    --FLiteBlue: #00d8d8;
}

.Page404 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    background-color: #000000b1;
}

#BackGroundErorPage {
    width: 650px;
    height: 400px;
    text-align: center;
}

#BackGroundErorPage .message {
    text-align: center;
    margin-bottom: 30px;
}

#BackGroundErorPage .message p,
#BackGroundErorPage .message h1 {
    display: inline-block;
}

#BackGroundErorPage svg g text.st0 {
    font-family: "FootlightMTLight";
}

#BackGroundErorPage svg g text.st1 {
    font-size: 83.0285px;
}

#BackGroundErorPage svg g path.st2 {
    fill: gray;
}

#BackGroundErorPage svg {
    width: 500px;
    height: 250px;
    margin-bottom: 20px;
    text-align: center;
    fill: var(--FLiteBlue);
}

path#XMLID_5_ {
    fill: var(--FLiteBlue);
    filter: url(#blurFilter4);
}

path#XMLID_11_,
path#XMLID_2_ {
    fill: var(--FLiteBlue);
}

.circle {
    animation: out 2s infinite ease-out;
    fill: var(--FLiteBlue);
}

#BackGroundErorPage .message {
    color: var(--FLiteBlue);
}

#BackGroundErorPage .message:after {
    content: "]";
}

#BackGroundErorPage .message:before {
    content: "[";
}

#BackGroundErorPage .message:after,
#BackGroundErorPage .message:before {
    color: var(--FLiteBlue);
    font-size: 20px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    margin: 0 10px;
}

#BackGroundErorPage .message#messageH1::after,
#BackGroundErorPage .message#messageH1::before {
    font-size: 40px;
}

/* #BackGroundErorPage .message.TextRed#messageH1::after,
#BackGroundErorPage .message.TextRed#messageH1::before {
    font-size: 40px;
    color: #ff0000;
} */

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes out {
    0% {
        r: 1;
        opacity: 0.9;
    }

    25% {
        r: 5;
        opacity: 0.3;
    }

    50% {
        r: 10;
        opacity: 0.2;
    }

    75% {
        r: 15;
        opacity: 0.1;
    }

    100% {
        r: 20;
        opacity: 0;
    }
}

#BackGroundErorPage .TextBlue {
    color: var(--FLiteBlue);
}

#BackGroundErorPage .TextRed {
    color: #ff0000;
}